article.class {
  header {
    font-face: 'Times New Roman', serif;
  }
  .larger {
    font-size: 35px !important;
  }
  margin-bottom: 40px;
}

.shadow-2 {
  .BoxShadowHelper(2);
}

.shadow-1 {
  .BoxShadowHelper(1);
}

.align-right {
  text-align: right;
}

.no-margin {
  margin: 0px;
}

.head-room {
  margin-top: 5px;
}

.left-divider {
  border-left: 1px solid lightgrey;
}

.right-divider {
  border-right: 1px solid lightgrey;
}

.bottom-divider {
  border-bottom: 1px solid @brand-primary;
}

.healthy-padding {
  padding: 20px 28px;
}

div.entry-summary {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

span.entry-title {
  font-family: 'Droid Serif', serif;
  font-size: 28px;
}

span.class-date {
  font-family: 'Ubuntu', sans-serif !important;
  font-size: 25px !important;
  color: @brand-primary;
}

span.class-times {
  font-family: 'Ubuntu', sans-serif !important;
  font-size: 16px;
  font-weight: 300;
}

.navbar-toggle {
  color: grey;
  background-color: white !important;
  font-family: 'Source Sans Pro';
  padding: 20px;
  margin: 0 0 15px 0;
  border: none;
}


@media only screen and (max-width : 768px) {
  .item a img {
    width: 100px;
  }
}


.class-single {
  div.entry-summary {
    margin-top: 22px;
    font-size: 15px !important;
  }

  span.class-date {
    color: black;
  }
}

.simple-box {
  border: 1px dotted lightgrey;
  padding: 10px;
  display: inline-block;
}

.simple-box.md-extra {
  padding: 10px 20px;
}

@media only screen and (max-width : 768px) {
  .simple-box.md-extra {
    padding: 10px 10px;
  }

  div.entry-summary {
    text-align: justify;
  }
}

.center-text {
  text-align: center;
}
