
@navbar-height: 100px;
@logo-height: @navbar-height * 0.86;

.navbar.banner {
  background-color: transparent;
  border: none;
}

.navbar-nav li a {
    line-height: @navbar-height;
    height: @navbar-height;
    padding-top: 0;
}

#menu-block #menu-left-menu {
  display: inline-block;
  float: left;
}

#menu-right-menu {
  display: inline-block;
  float: left;
}

.navbar-brand {
  margin: 0 !important;
  padding: 0;
  background-color: black;
  height: @logo-height;
  img{
    opacity: 0.97;
    padding: 0;
    margin: 0;
    max-height: @logo-height;
  }
}

#menu-block {
  display: inline-block;
}

#brand-holder {
  background-color: #f7f7f7;
  margin-top: -20px;
  padding: 30px 30px 20px 18px;
  border: 0px solid white;
  .BoxShadowHelper(1);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  display: inline-block;
  float: left;
}

nav {
  padding-top: 10px;
  text-align: center;
  ul {
    li {
      padding: 0px 10px 0px 10px;
      a {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 23px;
      }
    }
    li.active {
      background-color: transparent !important;
      a {
        background-color: transparent !important;
        color: @brand-primary !important;
      }
    }
  }
}

.foogallery-pile {
  
}

@logo-sm-scalar: 0.5;

  /* Small Devices, Tablets */
      @media only screen and (max-width : 768px) {
          .navbar-nav li a {
              line-height: @navbar-height * 0.7;
              height: @navbar-height * 0.7;
              padding-top: 0;
          }

          .navbar-header {
            position: relative;
          }

          .navbar-brand {
            margin: 0px;
            padding: 0;
            background-color: black;
            height: @logo-height * @logo-sm-scalar;
            img{
              opacity: 0.97;
              padding: 0;
              margin: 0;
              max-height: @logo-height * @logo-sm-scalar;
            }
          }

          #brand-holder {
            border-bottom-left-radius: @navbar-height * 0.2 * @logo-sm-scalar;
            border-bottom-right-radius: @navbar-height * 0.2 * @logo-sm-scalar;
            padding: @navbar-height * 0.6 * @logo-sm-scalar @navbar-height * 0.3 * @logo-sm-scalar @navbar-height * 0.2 * @logo-sm-scalar @navbar-height * 0.18 * @logo-sm-scalar;
          }

          #brand-holder.small {
            position: absolute;
            left: 50%;
            margin-left: -47px;
          }
      }
