input.hovertip {
  min-width: 200px !important;
  max-width: 300px !important;
  width: 100% !important;
}

textarea.hovertip {
  min-width: 200px !important;
  max-width: 300px !important;
  width: 100% !important;
}
